/**************************
******* Font Stacks *******
***************************/
@use "@fontsource/source-code-pro" as *;
@use "@fontsource/source-code-pro/400.css" as *;
@use "@fontsource/source-code-pro/400-italic.css" as *;


/**************************
***** Font Variations *****
***************************/
$font_weight_extra_light: 200;
$font_weight_light: 300;
$font_weight_normal: 400;
$font_weight_medium: 500;
$font_weight_semi_bold: 600;
$font_weight_bold: 700;
$font_weight_extra_bold: 800;
$font_weight_black_heavy: 900;


/**** Font Style ****/
$font_style_normal: normal;
$font_style_italic: italic;
$font_style_oblique: oblique;
$font_style_initial: initial;
$font_style_inherit: inherit;


/**** Font Sizes ****/
$font_xl: 1.875rem;
$font_lg: 1.5rem;
$font_md: 1rem;
$font_sm: 0.875rem;
$font_xs: 0.75rem;


/**** Typography ****/
$h1_typo: 3.25rem;
$h2_typo: 3rem;
$h3_typo: 2.75rem;
$h4_typo: 2.5rem;
$h5_typo: 2.25rem;
$h6_typo: 2rem;

/**************************
****** Color Pallete ******
***************************/
/*___Very dark blue-gray__*/
$color_pallete_0: #010c12;

/*___Dark vibrant green___*/
$color_pallete_1: #0c8901;

/*___Bright grass green___*/
$color_pallete_2: #2ac20d;

/*___Neon lime green______*/
$color_pallete_3: #9bff00;

/*___Electric green_______*/
$color_pallete_4: #39ff12;

/*___Very dark charcoal___*/
$color_pallete_5: #1e1f21;

/*___Very dark charcoal___*/
$color_pallete_6: #ffffff;


/******************
**** Main CSS *****
*******************/
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Source Code Pro";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*******************
**** Layout CSS ****
********************/
.layout_wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: $color_pallete_0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.layout_container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
    line-height: 1.6;
}

.layout_main_wrapper {
    width: 100%;
}

.layout_main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/*********************
**** Content SCSS ****
*********************/
.content_wrapper {
    width: 100%;
    overflow-x: hidden;
}

.content_main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content_section_wrapper {
    padding: 100px 3rem;
    display: flex;

    .content_section_container {
        height: 100%;
        width: 100%;

        section {
            display: flex;
            flex-direction: column;
            min-height: calc(100vh - 85px);
            scroll-margin-top: 100px;

            h2 {
                font-size: 2rem;
                color: $color_pallete_2;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.1rem;
                color: $color_pallete_2;
            }
        }
    }
}


/****************************
**** (About) Section CSS ****
*****************************/
.section_about_wrapper {
    width: 100%;
    padding: 1rem 0;
    position: relative;
}

.section_about_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/******************************
**** (About) Image Wrapper ****
*******************************/
.section_about_image_wrapper {
    top: 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


/**************************
**** (About) Pentagram ****
***************************/
.section_about_pentagram_img {
    position: absolute;
    top: -5rem;
    bottom: 0;
    left: -4rem;
    z-index: 0;

    .pentagram_img {
        width: 42rem;
        height: auto;
        display: block;
    }
}


/***********************
**** (About) Avatar ****
************************/
.section_about_avatar_img {
    position: absolute;
    top: 0rem;
    left: -2rem;
    bottom: 0;
    z-index: 1;

    .avatar_img {
        width: 31rem;
        height: auto;
        display: block;
        object-fit: contain;
    }
}


/************************************
**** (About) Description Wrapper ****
*************************************/
.section_about_description_wrapper {
    z-index: 2;
    width: 100%;
    height: 10rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-out;
    margin-left: auto;
    margin-top: 5rem;
    padding: 1rem 0;
    align-items: flex-end;
    text-align: right;
}

.section_about_header_title {
    font-size: $h2_typo;
    color: $color_pallete_2;
    margin: 0 0 0.5rem 0;
    line-height: 1.2;
    width: 100%;
}

.section_about_header_sub_title {
    font-size: 1.40rem;
    color: $color_pallete_2;
    margin: 0;
    font-weight: $font_weight_light;
    letter-spacing: 0.05em;
    width: 100%;
}

.section_about_header_title::after,
.section_about_header_sub_title::after {
    content: "_";
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


/*****************************************
**** (About) Download Button Wrapper ****
*****************************************/
.section_about_download_btn_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 25rem;
}

.section_about_download_btn {
    cursor: pointer;
    width: 13rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    border-radius: 16px;
    border: 2.5px solid $color_pallete_2;
    background-color: $color_pallete_0;
    color: $color_pallete_2;
    font-size: $font_sm;

    i {
        display: flex;
        align-items: center;
        font-size: $font_md;
    }

    &:hover {
        background-color: $color_pallete_2;
        color: $color_pallete_0;
        font-weight: $font_weight_bold;
    }
}


/*************************************
**** (About) Social Media Wrapper ****
**************************************/
.section_about_social_media_wrapper {
    position: absolute;
    top: 67%;
    right: -3rem;
    transform: translateY(-50%);
    z-index: 2;
}

.section_about_social_media_icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    li {
        a {
            color: $color_pallete_2;
            font-size: 2rem;
            transition: color 0.3s ease;

            &:hover {
                color: $color_pallete_3;
            }
        }
    }
}


/********************************
**** (About) Contact Wrapper ****
*********************************/
.section_about_contact_wrapper {
    position: absolute;
    bottom: 5rem;
    right: 6.5rem;
    z-index: 2;
}

.section_about_contact_icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    li {
        display: flex;
        align-items: center;

        a {
            color: $color_pallete_2;
            font-size: $font_md;
            transition: color 0.3s ease;
            text-decoration: none;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &:hover {
                color: $color_pallete_3;
            }
        }
    }
}


/*****************************
**** (Skills) Section CSS ****
*****************************/
.skills {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 2rem;
        color: $color_pallete_2;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.1rem;
        color: $color_pallete_2;
    }
}


/*******************************
**** (Projects) Section CSS ****
*******************************/
.projects {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 2rem;
        color: $color_pallete_2;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.1rem;
        color: $color_pallete_2;
    }
}